@charset "UTF-8";

*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

html,body {
    height: 100vh;
    width: 100vh;
}

main {

    position:relative;
    height:100vh;
    
}

body{
    background: url("../imagens-cap23/fundo-madeira.jpg") ;
    background-attachment: fixed;
}

section#telefone{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background:  url("../imagens-cap23/frame-iphone.png") no-repeat;
    
}

iframe#tela{
    position: relative;
    top: 80px;
    left:22px;
    width: 269px;
    height: 471px;

}